@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sunny's Misson 5";

}


<!--my header-->
<h1>Welcome to Sunny's Mission 4 Lab!</h1>

<!--paragraph of what I want to get out of 413-->
<p>
    For IS 413, I hope to build up my coding skills. Now that I have experience with coding in Python and the Django framework, I look forward to learning more about C# and React.
    As one of the objectives of the course is to gain skills that can convert over regardless of what language or framework I will be using for work.
</p>

<!--image of myself and a friend on a carousel-->
<img src="img/thingtodo.jpg" />
<br /> <br />

<!--a list of jobs I want to purse post graduation-->
<h2>Top 3 Jobs</h2>

<ul>
    <li>Software Engineer</li>
    <li>Product/Project Manager</li>
    <li>Tech Consulting</li>
</ul>




